<body >
  <br><br><br><br><br><br>
<mat-card class="example-card">
  <div style="text-align:center">
<h1>
  <a  style="font-size:large;"> TEST MARIAM</a>
</h1>
<br>
<img mat-card-image src="https://pbs.twimg.com/media/D-sBvl0VUAADZWs?format=jpg&name=large" alt="mariam on twiter"  >
  </div>
  <br>
 
  <mat-radio-group aria-label="Select an option">
    <mat-radio-button value="1" [routerLink]="['/wrong']" >Option 1</mat-radio-button><br>
    <mat-radio-button value="2" [routerLink]="['/wrong']" >Option 2</mat-radio-button><br>
    <mat-radio-button value="3" [routerLink]="['/wrong']" >Option 3</mat-radio-button><br>
  </mat-radio-group>

  
   <br>
  <button mat-raised-button  style=" width:110px; background-color:darkslategrey; color:white; font-size: small; text-align:center "  [routerLink]="['/demomariam']" >STARTAGAIN</button>
</mat-card>
<br>
</body>
