<body >
  <br><br><br><br><br><br>
<mat-card class="example-card">
  <div style="text-align:center">
<h1>
  <a  style="font-size:large;"> Correct </a>
</h1>
<br>
<img mat-card-image src="https://www.clipartwiki.com/clipimg/detail/182-1821065_positive-png-376210-check-button-png.png" alt="mariam on twiter"  >
  </div>
  <br>
  <a >TESTMATIAMNAJA//คำอธิบาย</a>
  <br>
  <button mat-raised-button  style=" width:110px; background-color:darkslategrey; color:white; font-size: small; text-align:center "  [routerLink]="['/mariamgame2']" > GO </button>
</mat-card>
</body>
