<body>

  <mat-card class="example-card">
    <mat-card-header >
      <div  mat-card class="example-header-image"></div>
    </mat-card-header>
    <div style="text-align:center">
      <h1>
        <a  style="font-size:large;"> TEST MARIAM</a>
      </h1><br>
    </div>
    <img mat-card-image src="https://pbs.twimg.com/media/D9_eFKXUYAMn6LZ.jpg" alt="Photo of a Shiba Inu">
    
    <mat-card-content class="example-card">
      <p >
        เรื่องราวของ มาเรียม 💙<br>
        เจ้าหญิงน้อยแห่งท้องทะเล (และวงการเกยตื้น)<br>
        #kamijn #pkamijn 
        #มาเรียม #ลิบง
      </p>
    </mat-card-content >
  
    <mat-card-actions class="example-card1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     <button mat-button [routerLink]="['/mariamgame1']" >START</button>
       </mat-card-actions>
  </mat-card>
  </body>
